body {background-color: dimgray;}
#universe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100px;
    min-width: 100px;
    max-height: 500px;
    max-width: 500px;
/*    margin: 50px;*/
    background-color: ghostwhite;
    border: 1px solid ghostwhite;}
    .sqmeter {
        min-height: 10px;
        min-width: 10px;
        height: 10px;
        width: 10px;
        outline: 1px solid rgba(0,0,0,0.2);}
        .sqmeter.cell, .sqmeter.cell.range {background-color: #E91E63;}
        .sqmeter.range {background-color: aquamarine;}
        .sqmeter.remembered:not(.range) {background-color: yellow;}

.red {background-color: red !important;}

